/* body {
  background-color: blanchedalmond;
} */

body {
  background: url(../logo1.png);
}

form {
  /* display: block; */
  display: block;
  text-align: center;
  flex-direction: column;
  /* justify-content: center; */
}
